<div class="card" id=<%="id_#{image[:title]}"%>>
  <img class="card__thumbnail" src="<%=image[:link]%>"/>
  <div class="card__body">
    <h5 class="card__title"><%=image[:title]%></h5>
    <a href=<%=image[:link]%> class="btn btn-primary">Here's the image</a>
  </div>
</div>
