<nav class="navbar navbar-light bg-light">
  <div>Image sharer app</div>
     <br/>
     <a class="btn btn-outline-success" href="/images/new" role="button">Create</a>
</nav>

<div class="container-fluid">
  <% @all_images.each do |image|%>
    <%= render partial: 'images/card', locals: { image: image } %>
  <%end%>
</div>

<div class="footer-margin">
  <footer class="card-footer bg-light footer-font-style text-muted footer-position">
    <a class="reference external" href="https://github.com/AppFolioOnboarding/image-sharer-revatidamle">
      <%= image_tag "icon.png" %>
    </a>
  </footer>
</div>
